.entry-row {
    background-color: #d9d9d9;
    border-radius: 5px;
}

.entry-row-date {
    display: flex;
}

.entry-row-date input {
    border: none;
    background: none;
    cursor: pointer;
}

.entry-row-date input[type="date"]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}

.entry-row-note .form-control {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.entry-row-location {
    display: flex;
}

.entry-row-location select {
    cursor: pointer;
    border: none;
    background: none;
}

.entry-row-hours .form-control {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.input-underline-workhours {
    background-color: #d9d9d9;
    width: 100%;
    border: none;
    border-bottom: 2px solid #8b8b8b; 
}

input.input-underline-workhours:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
}