<MudContainer>
	<div class="align-content-center justify-center" style="min-height: 80vh">
		<MudText Class="mb-5">Checking authentication...</MudText>
		<MudProgressLinear Color="Color.Primary" Indeterminate="true" />
	</div>
</MudContainer>