services:
  asbnapp-frontend:
    container_name: ASBNApp.Frontend
    build:
      context: .
      dockerfile: src/ASBNApp.Frontend/Dockerfile
    ports:
      - "7133:80" 
    environment:
      ApiUrl: ${FE_APIURL}
    depends_on:
      - asbnapp-api # Ensures the API starts before the frontend tries to call it
    restart: unless-stopped

  asbnapp-api:
    container_name: ASBNApp.DataAPI
    build:
      context: .
      dockerfile: src/ASBNApp.DataAPI/Dockerfile
    depends_on:
      - sql-server # Ensures the database starts before the API
    environment:
      ConnectionStrings__DatabaseConnection: ${API_CONNECTIONSTRING}
    restart: unless-stopped

  sql-server:
    container_name: ASBNApp.SqlServer
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: ${DB_SA_PASSWORD} 
    volumes:
      - sqlData:/var/opt/mssql
    restart: unless-stopped
  
volumes:
  sqlData: 