@* 
UI bit that represents a single entry, supposed to be used in MainViewWeek.
Created 20.10.2023
*@

<div class="row mb-3">

    
    <div class="col-2 entry-row entry-row-date align-items-center justify-content-between">
        <p class="m-0"> @Entry.Date.DayOfWeek, &nbsp; </p>
        <input type="date" id="date" @bind="Entry.Date" />
    </div>

    <div class="col mx-4 p-0 entry-row entry-row-note">
        <div class="form-group">
            <textarea class="form-control" rows="2" id="notes" placeholder="I did learn something... Forget what though." @bind="Entry.Note"></textarea>
        </div>
    </div>

    <div class="col-auto entry-row entry-row-location align-items-center justify-content-center">
        <div class="select-location-dropdown">
            <select name="work-location" id="work-location" @bind="Entry.Location">
                <option value="" disabled selected>Select location </option>

                @foreach (var entry in WorkLocationHours.DemoWorkLocationData) {
                    <option value="@entry.Location"> @entry.Location</option>
                }
            </select>
        </div>
    </div>

</div>



@code {
    // dealing with two way binding
    [Parameter]
    public MainViewWeek.EntryRowModel Entry { get; set; }

    [Parameter]
    public EventCallback<MainViewWeek.EntryRowModel> OnUpdate { get; set; }

}