@* 
Main view to input and edit data, displayed when the user selects the weekly view. 
Created 16.10.2023
*@

<div class="container-fluid mt-3 p-0">

    <WeekSelectorLarge />

    
</div>



@code {
    
}