@* 
Main view to input and edit data, displayed when the user selects the daily view. 
Created 13.10.2023
*@

<div class="container-fluid mt-3 p-0">

    <p class="my-2">I'm writing a log for...</p>
    <PillSelectorDate />

    <p class="my-2 mt-4">I was working from...</p>
    <PillSelectorLocation />
    
</div>



@code {

}