@* 
Main view to input and edit data, displayed when the user selects the daily view. 
Created 13.10.2023
*@

<div class="container-fluid mt-3 p-0">

    <p class="my-2">I'm writing a log for...</p>
    <PillSelectorDate />

    <p class="my-2 mt-4">I was working from...</p>
    <PillSelectorLocation />

    <p class="my-2 mt-4">And I did this today...</p>
    <div class="form-group">
        <textarea class="form-control" rows="10" id="notes" placeholder="I did learn something... Forget what though."></textarea>
    </div>

    <div class="row justify-content-end">
        <div class="col-auto">
            <button class="btn btn-dark mt-4" type="submit">Save</button>
        </div>
    </div>

    
</div>



@code {
    
}