@* 
Main view to input and edit data, displayed when the user selects the weekly view. 
Created 16.10.2023
*@

<div class="container-fluid mt-3 p-0">

    @* TODO: Create connection from here downwards to have the weeks date available here as well *@
    <WeekSelectorLarge />

    @* for every entry in given date range, show one item *@
    @* should never be more than 5 -> set option in settings to set the amount of work days?? *@
    <EntryRow />
    <EntryRow />
    <EntryRow />
    <EntryRow />
    <EntryRow />

    <div class="row justify-content-end">
        <div class="col-auto">
            <button class="btn btn-dark mt-4" type="submit">Save</button>
        </div>
    </div>
    

</div>



@code {

    // TODO:
    // - Create a date variable for each entry (Mon to Fri by default), which is then passed down to the individual component -> EventCallback to track changes here
    // - Create a min and max value from the current week for the dates in EntryRow to prevent the user from inputting a date that's not in the range of the current week
    // - Create a week value to pass down to WeekSelectorLarge -> add Callback to track changes here and modify values of EntryRows if needed
    
}