@* 
Simple component to select a location, should get it's values from the database at some point. 
Created 13.10.2023
*@

<div class="row mx-0 justify-content-start align-items-center">
    
    @foreach (var entry in WorkLocationHours.DemoWorkLocationData) {
        @* Make this selectable with @onkeydown Enter *@
        <div 
            class="col-auto me-2 pill-selector-date @(SelectedLocation == entry.Location ? "active" : "")" 
            @onclick="@(e => SelectedLocation = entry.Location )"
            tabindex="0">
            
            <p class="m-0"> @entry.Location </p>
        </div>
    }
    

</div>

@code {
    private string? SelectedLocation;

}
