@* 
Simple component to select a location, should get it's values from the database at some point. 
Created 13.10.2023
*@

<div class="row mx-0 justify-content-start align-items-center">
    
    @foreach (var entry in WorkLocationHours.DemoWorkLocationData) {
        <div class="col-auto me-2 pill-selector-date @(SelectedLocation == entry.Location ? "active" : "")" @onclick="@(e => SelectedLocation = entry.Location )">

            @* TODO: fix the x being not in line with the p tag *@
            <p class="m-0"> @entry.Location <span class="material-symbols-outlined" @onclick="ResetSelection">close</span> </p>
            
        </div>

    }
    

</div>

@code {
    private string SelectedLocation = "";

    public void ResetSelection() {
        SelectedLocation = "";
    }
}