@* 
Simple component to select a location, should get it's values from the database at some point. 
Created 13.10.2023
*@

@using ASBNApp.Model;
@inject IASBNDataService dataService;

<div class="row mx-0 justify-content-start align-items-center">

    @if(dataService.GetWorkLocationHours().Count != 0) {
        @foreach (var entry in dataService.GetWorkLocationHours())
        {
            <div 
                class="col-auto me-2 mb-2 pill-selector-date @(SelectedLocation == entry.Location ? "active" : "")" 
                @onclick="@(e => { SelectedLocation = entry.Location; SelectedLocationChanged.InvokeAsync(SelectedLocation); })"
                tabindex="0">
                
                <p class="m-0"> @entry.Location </p>
            </div>
        }
    }
    else
    {
        <p class="info-highlight d-flex p-2">
            <span class="material-symbols-rounded" style="color: red;"> warning </span>
            <i>&nbsp; No data available, please load a file first or add a new work location in settings.</i>
        </p>
    }
    

</div>

@code {
    [Parameter]
    public string? SelectedLocation { get; set; }
    [Parameter]
    public EventCallback<string?> SelectedLocationChanged { get; set; }
}
