@* 
Large picker to select the week we want to edit.
Created 16.10.2023
*@

<div class="row my-4 mx-0 justify-content-center">

    <div class="col-auto week-change-button">
        <p class="m-0 material-symbols-outlined align-self-center"> chevron_left </p>
    </div>

    <div class="col-auto px-5 mx-3 text-center week-change-center">
        <p class="m-0 text-current-week"> 
            <strong> KW @CurrentWeek </strong>
        </p>
        <p class="m-0 pb-1 text-date-week"> @FirstDayOfWeek - @LastDayOfWeek </p>
    </div>

    <div class="col-auto week-change-button">
        <p class="m-0 material-symbols-outlined align-self-center"> chevron_right </p>
    </div>

</div>




@code {
    // move this to an seperate file -> so it's accessible from other pages as well?


    // used the onInitialize to assign calculated values to the matching variables, avoids data not being loaded into memory
    protected override void OnInitialized(){
        
        CurrentWeek = weekHandler.GetWeekOfYear();
        FirstDayOfWeek = weekHandler.GetFirstDayOfWeek();
        LastDayOfWeek = weekHandler.GetLastDayOfWeek();
    } 

    WeekHandler weekHandler = new WeekHandler();
    
    private int? CurrentWeek = null;
    private string? FirstDayOfWeek = null;
    private string? LastDayOfWeek = null;

}