@* 
Large picker to select the week we want to edit.
Created 16.10.2023
*@

<div class="row mx-0 justify-content-center">

    <div class="col-auto p-0">
        <p class="m-0">
            <span class="material-symbols-outlined">chevron_left</span>
        </p>
    </div>

    <div class="col-auto p-0">
        <p class="m-0"> @CurrentWeek </p>
        <p>@FirstDayOfWeek - @LastDayOfWeek</p>
    </div>

    <div class="col-auto p-0">
        <p class="m-0">
            <span class="material-symbols-outlined">chevron_right</span>
        </p>
    </div>

</div>



@code {
    // move this to an seperate file -> so it's accessible from other pages as well?
    protected override void OnInitialized(){
        CurrentWeek = GetWeekOfYear();
        FirstDayOfWeek = GetFirstDayOfWeek();
        LastDayOfWeek = GetLastDayOfWeek();
    }
    
    private int? CurrentWeek = null;
    private string? FirstDayOfWeek = null;
    private string? LastDayOfWeek = null;

    private int GetWeekOfYear() {
    
        // get culture info & current date/time from thread
        var CultureInfo = Thread.CurrentThread.CurrentCulture;
        @* DateTime Date = new DateTime(2023, 10, 16); *@
        DateTime Date = DateTime.Now;

        DayOfWeek FirstDay = CultureInfo.DateTimeFormat.FirstDayOfWeek;
        System.Globalization.CalendarWeekRule weekRule = CultureInfo.DateTimeFormat.CalendarWeekRule;
        System.Globalization.Calendar Cal = CultureInfo.Calendar;
        int Week = Cal.GetWeekOfYear(Date, weekRule, FirstDay);

        return Week;
    }

    private string GetFirstDayOfWeek() {
        // (int)Date.DayOfWeek returns from a 0 for Sunday up to a 6 for Saturday -> + Monday makes the start of the week Monday
        var FirstDay = DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday);
        
        //Console.WriteLine(FirstDay.Date.ToString("dd.MM"));
        return FirstDay.Date.ToString("dd.MM");
    }

    private string GetLastDayOfWeek() {
        // get 7 - DayOfWeek, add result to FirstDayOfWeek
        var LastDay = DateTime.Today.AddDays(7 - (int)DateTime.Today.DayOfWeek);

        return LastDay.Date.ToString("dd.MM.yyyy");
    }

}