/* add main styles here, for example headings / text sizes */

/* ################ Custom fonts ################ */
@font-face {
    font-family: 'Inter';
    src: url('./../fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

/* ################ Nav bar ################ */
.nav-link.nav-underline.active {
    border-bottom: 2px solid black;
    margin-bottom: -2px;
}