/* ################ Index view switch ################ */

.view-selector {
    color: black;
    background-color: #d3d3d3;
    transition: .2s;
    cursor: pointer;
}

.view-selector:hover {
    opacity: 50%;
}

.view-selector.active {
    color: white;
    background-color: black;
    transition: .2s;
}

.view-selector.active:hover {
    opacity: 50%;
}

.view-selector:nth-child(1) {
    border-radius: 20px 0 0 20px;
}

.view-selector:nth-child(2) {
    border-radius: 0 20px 20px 0;
}