/* ################ Main view switch Day / Week ################ */

.view-selector {
    color: black;
    background-color: #d3d3d3;
    transition: .2s;
    cursor: pointer;
}

.view-selector.False:hover {
    opacity: 50%;
}

.view-selector.True {
    color: white;
    background-color: black;
    transition: .2s;
}

.view-selector:nth-child(1) {
    border-radius: 20px 0 0 20px;
}

.view-selector:nth-child(2) {
    border-radius: 0 20px 20px 0;
}


/* ################ Pill Selector Date Daily View ################ */

.pill-selector-date {
    background-color: #d3d3d3;
    border-radius: 20px;
    cursor: pointer;
}

.pill-selector-date.active {
    color: white;
    background-color: black;
    transition: .2s;
}

.pill-selector-date input {
    background: none;
    border: none;
}

.pill-selector-date.active input {
    color: white;
}

.pill-selector-date.active input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert();
}


/* ################ Week Switcher Weekly View ################ */

.week-change-center {
    background-color: black;
    color: white;
    border-radius: 20px;
}

.week-change-button {
    background-color: #d9d9d9;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    transition: .2s;
}

.week-change-button:hover {
    opacity: 50%;
}

.text-current-week {
    font-size: 1.3em;
}

.text-date-week {
    font-size: .6em;
}

.week-change-center input {
    color: white;
    border: none;
    background: none;
}

input[type="week"]::-webkit-calendar-picker-indicator {
    filter: invert();
}
