/* ################ Main view switch Day / Week ################ */

.view-selector {
    color: black;
    background-color: #d3d3d3;
    transition: .2s;
    cursor: pointer;
}

.view-selector:hover {
    opacity: 50%;
}

.view-selector.active {
    color: white;
    background-color: black;
    transition: .2s;
}

.view-selector.active:hover {
    opacity: 50%;
}

.view-selector:nth-child(1) {
    border-radius: 20px 0 0 20px;
}

.view-selector:nth-child(2) {
    border-radius: 0 20px 20px 0;
}


/* ################ Pill Selector Date Daily View ################ */

.pill-selector-date {
    background-color: #d3d3d3;
    border-radius: 20px;
    cursor: pointer;
}

.pill-selector-date.active {
    color: white;
    background-color: black;
    transition: .2s;
}

.pill-selector-date input {
    background: none;
    border: none;
}

.pill-selector-date.active input {
    color: white;
}

.pill-selector-date.active input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert();
}


/* ################ Week Switcher Weekly View ################ */

.week-change-center {
    background-color: black;
    color: white;
    border-radius: 20px;
}

.week-change-button {
    background-color: #d9d9d9;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    transition: .2s;
}

.week-change-button:hover {
    opacity: 50%;
}

.week-change-center input {
    color: white;
    border: none;
    background: none;
}

.week-change-center input:hover {
    cursor: pointer;
}

input[type="week"]::-webkit-calendar-picker-indicator {
    filter: invert();
}

input[type="week"]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}


/* ################ Entry Row Weekly View ################ */
.entry-row {
    background-color: #d9d9d9;
    border-radius: 5px;
}

.entry-row-date {
    display: flex;
}

.entry-row-date input {
    border: none;
    background: none;
    cursor: pointer;
}

.entry-row-date input[type="date"]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}

.entry-row-note .form-control {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.entry-row-location {
    display: flex;
}

.entry-row-location select {
    cursor: pointer;
    border: none;
    background: none;
}


/* ################ ShowEdit Text Input Single Component ################ */
.show-text {
    background-color: #d3d3d3;
    border-radius: 10px;
}

.input-underline {
    width: 100%;
    border: none;
    border-bottom: 2px solid #d3d3d3;
}

input.input-underline:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
}