.wrapper-landingpage {
    background-image: url("images/backgrounds/jigar-panchal-Z14uh3OxUig-unsplash.jpg");
}

.asbnlogo-landingpage {
    width: 20%;
}

.wrapper-buttons {
    -webkit-backdrop-filter: blur(15px); /* Safari 9+ */
    backdrop-filter: blur(15px); /* Chrome and Opera */
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

/* font color override */
h1, h4, p {
    color: white;
}