@*
Main view to input and edit data, displayed when the user selects the weekly view.
*@

@inject IASBNDataService dataService

<div class="container-fluid mt-3 p-0">

    @if (alertIsVisible)
    {
        <BannerAlert AlertType=@alertType AlertMessage=@alertMessage OnCallback="CloseBannerAlertCallback" />
    }

    <WeekSelectorLarge @bind-SelectedWeek="SelectedWeek" @bind-SelectedYear="SelectedYear" OnCallback="Callback" />

    @* Iterate over the rows, write an <EntryRow /> for each, bind that value to the one here *@
    @if (SelectedYear != null && SelectedWeek != null)
    {
        @foreach (var entry in rows)
        {
            <EntryRow Entry="entry" SelectedWeek="SelectedWeek" SelectedYear="SelectedYear" />
        }
    }

    <div class="row justify-content-end">
        <div class="col-auto">
            <button class="btn btn-dark mt-4" type="submit" @onclick="SaveData">Save</button>
        </div>
    </div>

</div>



@code {
    // Define the IEnumerable variable the fill with data from the JSON
    IEnumerable<EntryRowModel> rows;

    // Function to trigger a callback from the child component (and then do whatever is in this method)
    public async Task Callback()
    {
        GetDataFromWeekDates();
    }

    // Update the data we have from the data the (dummy) interface implementation returns
    // Will be called on initialization & once SelectedWeek or SelectedYear changes
    public void GetDataFromWeekDates()
    {
        // Call DataService to get the values for the matching week / year & assign to rows
        rows = dataService.GetWeek(SelectedYear, SelectedWeek);
    }


    // Creates DateHandler instance & variables to pass down to child component
    public int? SelectedWeek { get; set; }
    public int? SelectedYear { get; set; }


    /// <summary>
    /// Triggers the DataService to save the edited data, also trigger
    /// alert with matching information
    /// </summary>
    private async void SaveData()
    {
        if (await dataService.SaveWeek(rows))
        {
            alertIsVisible = true;
            setAlertDetails("success", "That's your data saved!");
            StateHasChanged();
        }
        else
        {
            alertIsVisible = true;
            setAlertDetails("danger", "There was an error saving you data - please allow saving changes if prompted.");
            StateHasChanged();
        }
    }


    ///
    /// Handling alerts
    /// 

    public bool alertIsVisible = false;
    public string? alertType;
    public string? alertMessage;

    public async Task CloseBannerAlertCallback()
    {
        alertIsVisible = false;
        StateHasChanged();
    }

    private void setAlertDetails(string type, string message)
    {
        alertType = type;
        alertMessage = message;
    }
}