/* add main styles here, for example headings / text sizes */

/* ################ Custom fonts ################ */
@font-face {
    font-family: 'Inter';
    src: url('./../fonts/Inter_18pt-Regular.ttf') format('truetype');
}

/* ################ Nav bar ################ */
.nav-link.nav-underline.active {
    border-bottom: 2px solid black;
    margin-bottom: -2px;
}

/* ################ MudBlazor unorthodox customizations ################ */
.mud-tabs-tabbar {
    background-color: transparent !important;
}


/* ################ Custom styling for index page ################ */
.gradient-transparent-orange{
    background: #FF6D00;
    background: linear-gradient(270deg, rgba(255, 109, 0, 0.35) 0%, rgba(255, 109, 0, 0.1) 100%);
}

/* ################ Debug only ################ */
.dbg {
    border: 2px dashed red;
}