.pill-selector-date {
    background-color: #d3d3d3;
    border-radius: 20px;
    cursor: pointer;
}

.pill-selector-date.active {
    color: white;
    background-color: black;
    transition: .2s;
}

.pill-selector-date input {
    background: none;
    border: none;
}

.pill-selector-date.active input {
    color: white;
}

.pill-selector-date.active input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert();
}