@page "/help"

<PageTitle>Help</PageTitle>

<div class="container-fluid">

    <div class="row justify-content-between align-items-center">
        <div class="col-md-auto">
            <HeaderLarge Header="Help" />
        </div>
    </div>

    <div class="row mt-4">
        <b>What is this app and how should I use it?</b> <br />

        <p>
            Alright, the aim with this app is to provide a simple way of writing 
            your "Ausbildungsnachweis" (German for "proof of education"). It saves
            data using a .json file on your system, which you have to load each
            time you're visiting the page (the "Open File" button in the nav bar.) <br />
            If you never visited this website before, you need to create a file 
            using the "Create new" button and call it "YOURNAME.json".
        </p>
    </div>


</div>

@code {

}
