@*
Same as the HeaderLarge component, but allows to edit the text in it
*@

<div>
    <h2>
        @if (_isEditing)
        {
            <input @bind="EditeableHeader" class="input-underline input-bold short-underline" placeholder="First- and Lastname"/>
            <span tabindex="0" class="btn p-0 material-symbols-rounded" @onclick="@(e => { _isEditing = false; EditeableHeaderChanged.InvokeAsync(EditeableHeader); })"> check </span>
        }
        else
        {
            @if (EditeableHeader == null)
            {
                <strong>Please add your name here! </strong>
            }
            else
            {
                <strong>Hi, @EditeableHeader! </strong>
            }
            <span tabindex="0" class="btn p-0 material-symbols-rounded" @onclick="@(e => { _isEditing = true; })"> edit </span>
        }
    </h2>
</div>


@code {
    [Parameter]
    public string? EditeableHeader { get; set; }
    [Parameter]
    public EventCallback<string?> EditeableHeaderChanged { get; set; }

    // Control editing state
    private bool _isEditing = false;

}