@inject IASBNDataService dataService;

@inherits LayoutComponentBase

<PageTitle>ASBNApp</PageTitle>


<div class="page">

    @* If no data is present = show input page, otherwise load normal UI *@
    @if(dataService.GetData() == null) {
        @* show open website with load file and create file buttons here *@
        <MainViewLoadData OnCallback="Callback" />
    } 
    else 
    {
        <NavBar />

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main> 
    }
</div>

@code {
    // Get's called from the sub component, retriggers a re-render of the page
    // to apply the data loaded (and therefore change the view)
    public async Task Callback() => StateHasChanged();
}