@inject IFileSystemAccessService FileSystemAccessService;
@inject IASBNDataService dataService;


<nav class="navbar navbar-expand">
    <div class="container-fluid">

        <a class="navbar-brand" href=""><b>ASBN-App</b></a>
           
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <NavLink class="nav-link nav-underline" href="" Match="NavLinkMatch.All">
                    <NavbarLink Title="Start" />
                </NavLink>

                <NavLink class="nav-link nav-underline" href="export">
                    <NavbarLink Title="Export" />
                </NavLink>
            </div>
        </div>

        <div>
            <button type="button" class="btn btn-outline-secondary" @onclick="OpenAndReadFile" >Open File</button>
        </div>

        <span class="profile-icon p-2 ms-3">
            <NavLink class="nav-link" href="settings">
                <span class="material-symbols-outlined"> settings </span>
            </NavLink>
        </span>
    </div>
</nav>



@code {
    // Open & Read the JSON file using the FileSystemAccess package, 
    // hand it over to our LocalASBNDataService

    private string? Text = null;

    private async Task OpenAndReadFile()
    {
        KristofferStrube.Blazor.FileSystem.FileSystemFileHandle? fileHandle = null;
        try
        {
            // Removed options as I don't wanna start in the downloads folder every single time
            var fileHandles = await FileSystemAccessService.ShowOpenFilePickerAsync();
            fileHandle = fileHandles.Single();
        }
        catch (JSException ex)
        {
            // Handle Exception or cancelation of File Access prompt
            Console.WriteLine(ex);
        }
        finally
        {
            if (fileHandle is not null)
            {
                var file = await fileHandle.GetFileAsync();

                // Hand the JSON string over to the interface (do to further processing)
                dataService.WriteData(await file.TextAsync());
            }
        }
    }
}