@* 
Nav Bar item, nothing fancy in here
*@

<nav class="navbar navbar-expand">
    <div class="container-fluid">

        <a class="navbar-brand" href=""><b>ASBN-App</b></a>
           
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <NavLink class="nav-link nav-underline" href="" Match="NavLinkMatch.All">
                    <NavbarLink Title="Start" />
                </NavLink>

                <NavLink class="nav-link nav-underline" href="export">
                    <NavbarLink Title="Export" />
                </NavLink>
            </div>
        </div>

        <span class="profile-icon p-2 ms-3">
            <NavLink class="nav-link" href="settings">
                <span class="material-symbols-rounded"> settings </span>
            </NavLink>
        </span>
    </div>
</nav>