@page "/help"

<PageTitle>Help</PageTitle>

<div class="container-fluid">

    <div class="row justify-content-between align-items-center">
        <div class="col-md-auto">
            <HeaderLarge Header="Help" />
        </div>
    </div>

    <div class="row mt-4">
        <b>What is this app and how should I use it?</b> <br />

        <p>
            Alright, the aim with this app is to provide a simple way of writing 
            your "Ausbildungsnachweis" (German for "proof of education"). It saves
            data using a .json file on your system, which you have to load each
            time you're visiting the page (the "Open File" button in the nav bar.) <br />
            If you never visited this website before, you need to create a file 
            using the "Create new" button and call it "YOURNAME.json".
        </p>
    </div>

    <hr />

    <div class="row mt-4">
        <p>
            <b>Why is my browser not supported?</b><br />

            This app is using KristofferStrubes 
            <a href="https://github.com/KristofferStrube/Blazor.FileSystemAccess">Blazor File System Access</a>.
            Unfortunately, this API is only supported on a limited set of browsers. 
            If the app isn't supported on your system, you'll see the red warning
            in the navigation bar.
        </p>

        <p>
            See the table below for more information about which Browsers are supported:
        </p>
    </div>

    <div class="row mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Browser</th>
                    <th>Supported</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <td>Chrome (Desktop)</td>
                    <td>Yes</td>
                </tr>
                <tr class="table-success">
                    <td>Edge</td>
                    <td>Yes</td>
                </tr>

                <tr class="table-danger">
                    <td>Mozilla Firefox</td>
                    <td>No</td>
                </tr>
                <tr class="table-danger">
                    <td>Chrome for Android</td>
                    <td>No</td>
                </tr>
                <tr class="table-danger">
                    <td>iOS Safari</td>
                    <td>No</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

@code {

}
