@page "/"

<PageTitle>Index</PageTitle>

<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col">
            <HeaderLarge Header="Let's see what you've been up to!" />
        </div>
        <div class="col-md-auto">
            <SwitchDayWeek />
        </div>
    </div>
    
</div>