/* profession selector styling */
.select-profession select {
    cursor: pointer;
    border: none;
    background: #d3d3d3;
    border-radius: 10px;
}

.info-highlight {
    background-color: #eeeeee;
    border-radius: 10px;
}
