
# This workflow will build a .NET Core app when a a PR to main is openend, 
# synchronized or reopened.
name: ASBNApp DataAPI Build

env:
  APP_LOCATION: './src/ASBNApp.DataAPI/' 
  DOTNET_VERSION: '9'             # set this to the .NET Core version to use

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build AspNetCore web api

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore ${{ env.APP_LOCATION }}

      - name: Build
        run: dotnet build ${{ env.APP_LOCATION }} -c Release --no-restore